# Creating Redshift Cluster using the AWS python SDK

In [1]:
import pandas as pd
import boto3
import json

### Load DWH Params from dwh.cfg file

In [2]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("CLUSTER","DB_NAME")
DWH_DB_USER            = config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD        = config.get("CLUSTER","DB_PASSWORD")
DWH_PORT               = config.get("CLUSTER","DB_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param       Value
0        DWH_CLUSTER_TYPE  multi-node
1           DWH_NUM_NODES           4
2           DWH_NODE_TYPE   dc2.large
3  DWH_CLUSTER_IDENTIFIER  dwhCluster
4                  DWH_DB         dev
5             DWH_DB_USER     dwhuser
6         DWH_DB_PASSWORD    Passw0rd
7                DWH_PORT        5439
8       DWH_IAM_ROLE_NAME     dwhRole

### Create clients for EC2, S3, IAM, and Redshift

In [3]:
import boto3

ec2 = boto3.resource('ec2',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-west-2'
                  )

redshift = boto3.client('redshift',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

### Create an IAM Role that makes Redshift able to access S3 bucket (ReadOnly)

In [4]:
from botocore.exceptions import ClientError

#1.1 Create the role, 
try:
    print("1.1 Creating a new IAM Role") 
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'})
    )    
except Exception as e:
    print(e)
    
    
print("1.2 Attaching Policy")

iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

print("1.3 Get the IAM role ARN")
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

print(roleArn)

1.1 Creating a new IAM Role
1.2 Attaching Policy
1.3 Get the IAM role ARN
arn:aws:iam::025355637882:role/dwhRole

### Create a RedShift Cluster

In [5]:
try:
    response = redshift.create_cluster(        
        #HW
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),

        #Identifiers & Credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        
        #Roles (for s3 access)
        IamRoles=[roleArn]  
    )
except Exception as e:
    print(e)

### Describe the cluster to see its status

In [9]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,dwhuser
4,DBName,dev
5,Endpoint,"{'Address': 'dwhcluster.cwivq5l9ocnw.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-0034b6f9a92a63b61
7,NumberOfNodes,4

### Dislay the cluster endpoint and role ARN

#### DO NOT RUN THIS unless the cluster status becomes "Available"

In [10]:
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ENDPOINT :: ", DWH_ENDPOINT)
print("DWH_ROLE_ARN :: ", DWH_ROLE_ARN)

DWH_ENDPOINT ::  dwhcluster.cwivq5l9ocnw.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::025355637882:role/dwhRole

### Open an incoming TCP port to access the cluster endpoint

In [11]:
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0]
    print(defaultSg)
    defaultSg.authorize_ingress(
        GroupName=defaultSg.group_name,
        CidrIp='0.0.0.0/0',
        IpProtocol='TCP',
        FromPort=int(DWH_PORT),
        ToPort=int(DWH_PORT)
    )
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-0f80cf7beefb20387')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

### Make sure you can connect to the clusterConnect to the cluster

In [12]:
%load_ext sql

In [13]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cwivq5l9ocnw.us-west-2.redshift.amazonaws.com:5439/dev

'Connected: dwhuser@dev'

### You should run create_tables.py in terminal to drop and create tables, and run cells below.

### Test if tables are created

In [14]:
%sql SELECT DISTINCT tablename FROM pg_table_def WHERE schemaname = 'public';

 * postgresql://dwhuser:***@dwhcluster.cwivq5l9ocnw.us-west-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('dim_artists',),
 ('dim_songs',),
 ('dim_time',),
 ('dim_users',),
 ('fact_songplays',),
 ('staging_events',),
 ('staging_songs',)]

### You should run etl.py in terminal to insert data, and run cells below.

### Test if data are inserted into tables

In [15]:
%sql SELECT * FROM staging_events LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cwivq5l9ocnw.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(None, 'Logged Out', None, None, 0, None, None, 'free', None, 'PUT', 'Login', None, 52, None, 307, 1541207073796, None, None),
 (None, 'Logged In', 'Celeste', 'F', 1, 'Williams', None, 'free', 'Klamath Falls, OR', 'GET', 'Home', 1541077528796, 52, None, 200, 1541207123796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Mynt', 'Logged In', 'Celeste', 'F', 2, 'Williams', 166.94812, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796, 52, 'Playa Haters', 200, 1541207150796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Taylor Swift', 'Logged In', 'Celeste', 'F', 3, 'Williams', 230.47791, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796, 52, 'You Belong With Me', 200, 1541207316796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Amy Winehouse', 'Logged In', 'Celeste', 'F', 4, 'Williams', 229.85098, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796, 52, 'Valerie', 200, 1541207546796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53)]

In [16]:
%sql SELECT * FROM staging_songs LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cwivq5l9ocnw.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(1, 'ARI9DQS1187B995625', 44.93746, -91.39251, 'Chippewa Falls, WI', 'Judy Henske', 'SODVVEL12A6D4F9EA0', 'Good Old Wagon (LP Version)', 139.78077, 1964),
 (1, 'ARA870V1187FB3C4B7', 36.30188, -88.32588, 'Paris, TN', 'Hank Williams Jr.', 'SOFBGBL12A67020D9F', "Tuesday's Gone (Remastered Album Version)", 345.49506, 0),
 (1, 'ARF6GW61187B9AF41C', None, None, '', 'Big Drill Car', 'SOJVGOQ12AC90979E8', 'The Shake', 147.25179, 1994),
 (1, 'ARJ5KHG1187FB3FAA3', 38.99792, -105.55096, 'Colorado', 'JayMay', 'SOQAHLN12A8C13F853', 'You Are The Only One I Love', 295.07873, 2006),
 (1, 'ARX08ZS1187B9A814B', 33.52029, -86.8115, 'Birmingham, AL', 'Maylene & The Sons Of Disaster', 'SOXOQUU12AB0181B97', "Step Up (I'm On It)", 207.46404, 2009)]

In [17]:
%sql SELECT * FROM fact_songplays LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cwivq5l9ocnw.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(16, datetime.datetime(155, 8, 5, 20, 28, 36), 49, 'free', 'SOUNZHU12A8AE47481', 'AR37SX11187FB3E164', 405, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (56, datetime.datetime(155, 3, 1, 3, 48, 36), 44, 'paid', 'SOZARNI12A67020744', 'AR3WLE91187B99430A', 269, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (72, datetime.datetime(155, 10, 2, 11, 38, 36), 97, 'paid', 'SOIBHYW12AB0188F49', 'ARWNARC122BCFCAFEB', 537, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (200, datetime.datetime(155, 9, 16, 12, 18, 36), 73, 'paid', 'SOCJWPI12A8C13D357', 'ARRB3GQ1187FB52D14', 294, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (232, datetime.datetime(156, 10, 20, 6, 28, 36), 28, 'free', 'SOEKSGJ12A67AE227E', 'ARQUMH41187B9AF699', 270, 'Portland-Vancouver-Hillsboro, OR-WA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0')]

In [18]:
%sql SELECT * FROM dim_users LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cwivq5l9ocnw.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(43, 'Jahiem', 'Miles', 'M', 'free'),
 (26, 'Ryan', 'Smith', 'M', 'free'),
 (17, 'Makinley', 'Jones', 'F', 'free'),
 (8, 'Kaylee', 'Summers', 'F', 'free'),
 (12, 'Austin', 'Rosales', 'M', 'free')]

In [20]:
%sql SELECT * FROM dim_songs LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cwivq5l9ocnw.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('SOBUWPY12A8C1446C0', 'In This Life', 'ARIOSKN1257509BCE1', 2009, 210.36363),
 ('SOWFVMV12A6D4F60F1', "Ain't That Right", 'AR8CRLE1187FB4E949', 2006, 234.29179),
 ('SOPPEBK12A8C13B9CE', 'Good Looking Girl Blues', 'ARN7OQ21187FB5A6B3', 0, 171.49342),
 ('SOSYDBF12A6D4FA5E8', 'Golden Rule', 'ARMTSG61187B991EF1', 1999, 233.06404),
 ('SOCIPSH12A58A7B60B', 'Awaiting the Autopsy', 'AREH0IP119B8667CB3', 2007, 94.87628)]

In [19]:
%sql SELECT * FROM dim_artists LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cwivq5l9ocnw.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('ARSF4161187B9B449F', 'The Gone Jackals', '', None, None),
 ('ARK8EHO1187B9B71D1', 'The Shamen', 'Aberdeen, Scotland', 57.15382, -2.10679),
 ('ARNU0OM1187FB3F14A', 'Larry Groce', 'Dallas, TX', 32.77815, -96.7954),
 ('ARNLE621187B98ECB5', 'Mannheim Steamroller', 'Omaha, NE', 41.26069, -95.93995),
 ('ARHONG11187FB3B120', 'L.A. Guns', 'katy', 29.78772, -95.82333)]

In [20]:
%sql SELECT * FROM dim_time LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cwivq5l9ocnw.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(datetime.datetime(155, 8, 21, 20, 18, 36), 20, 21, 34, 8, 155, 4),
 (datetime.datetime(156, 12, 25, 7, 38, 36), 7, 25, 52, 12, 156, 6),
 (datetime.datetime(157, 2, 12, 2, 8, 36), 2, 12, 6, 2, 157, 6),
 (datetime.datetime(155, 6, 14, 15, 28, 36), 15, 14, 24, 6, 155, 6),
 (datetime.datetime(155, 11, 21, 19, 18, 36), 19, 21, 47, 11, 155, 5)]

### Delete clusters to avoid unnecessary fees

In [21]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)
#### CAREFUL!!

{'Cluster': {'ClusterIdentifier': 'dwhcluster',
  'NodeType': 'dc2.large',
  'ClusterStatus': 'deleting',
  'MasterUsername': 'dwhuser',
  'DBName': 'dev',
  'Endpoint': {'Address': 'dwhcluster.cwivq5l9ocnw.us-west-2.redshift.amazonaws.com',
   'Port': 5439},
  'ClusterCreateTime': datetime.datetime(2022, 9, 5, 2, 20, 48, 414000, tzinfo=tzlocal()),
  'AutomatedSnapshotRetentionPeriod': 1,
  'ClusterSecurityGroups': [],
  'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-0f80cf7beefb20387',
    'Status': 'active'}],
  'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0',
    'ParameterApplyStatus': 'in-sync'}],
  'ClusterSubnetGroupName': 'default',
  'VpcId': 'vpc-0034b6f9a92a63b61',
  'AvailabilityZone': 'us-west-2a',
  'PreferredMaintenanceWindow': 'tue:10:30-tue:11:00',
  'PendingModifiedValues': {},
  'ClusterVersion': '1.0',
  'AllowVersionUpgrade': True,
  'NumberOfNodes': 4,
  'PubliclyAccessible': True,
  'Encrypted': False,
  'Tags': [],
  'EnhancedVpcRouting': False,
  'IamRoles': [{'IamRoleArn': 'arn:aws:iam::025355637882:role/dwhRole',
    'ApplyStatus': 'in-sync'}],
  'MaintenanceTrackName': 'current'},
 'ResponseMetadata': {'RequestId': 'c24965c9-bff9-47c9-94f7-c2358e656062',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': 'c24965c9-bff9-47c9-94f7-c2358e656062',
   'content-type': 'text/xml',
   'content-length': '2703',
   'vary': 'accept-encoding',
   'date': 'Mon, 05 Sep 2022 02:30:08 GMT'},
  'RetryAttempts': 0}}

In [24]:
myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

ClusterNotFoundFault: An error occurred (ClusterNotFound) when calling the DescribeClusters operation: Cluster dwhcluster not found.

In [25]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
iam.delete_role(RoleName=DWH_IAM_ROLE_NAME)
#### CAREFUL!!

{'ResponseMetadata': {'RequestId': '0efb9c20-c521-4b0c-8f58-9e073b3fbc7b',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '0efb9c20-c521-4b0c-8f58-9e073b3fbc7b',
   'content-type': 'text/xml',
   'content-length': '200',
   'date': 'Mon, 05 Sep 2022 02:32:13 GMT'},
  'RetryAttempts': 0}}